version: '2'
services:
  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    environment:
      - TZ=<timezone>
      - PLEX_CLAIM=<claimToken>
    network_mode: host
    volumes:
      - /home/${USER}/plex/config:/config
      - /home/${USER}/plex/transcode:/transcode
      - /home/${USER}/plex/data:/data
